@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1E40AF;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1, header p {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin: 0;
}

header p {
    font-weight: 400;
}

#main {
    flex: 1;
    background: url(media/wallpaper.png) no-repeat center center fixed;
    background-size: cover;
    padding: 1rem;
    padding-top: 5%;
    text-align: center;
}

#main h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 1rem;
}

#main p {
    margin-bottom: 0.5rem;
}

#datePicker {
    background-color: #ffffff70;
}

input[type="date"], input[type="number"] {
    padding: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
}

#search {
    margin-top: 15px;
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}